@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketPortal.Components;
@using RocketCatalog.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketCatalog/App_LocalResources/")

@{

    var sessionParams = (SessionParams)Model.SessionParamsData;
    var articleData = (ArticleLimpet)Model.GetDataObject("articledata");
    var portalCatalog = (PortalCatalogLimpet)Model.GetDataObject("portalcatalog");
    var remoteModule = (RemoteModule)Model.GetDataObject("remotemodule");
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var categoryList = (CategoryLimpetList)Model.GetDataObject("categorylist");
    var appTheme = (AppThemeLimpet)Model.GetDataObject("apptheme");


    @AddProcessData("resourcepath", "/DesktopModules/RocketThemes/" + appTheme.AppThemeFolder + "/" + appTheme.AppVersionFolder + "/resx/")
}

@RenderTemplate("CategoryBar.cshtml", appTheme, Model, true)

<div onclick="window.history.back()" class="w3-button w3-margin">@ButtonText(ButtonTypes.back, sessionParams.CultureCode)</div>

<div class="w3-row w3-grayscale">

    @{
        var imgRelPath = "/DesktopModules/DNNrocket/api/images/noimage2.png";
        var articleImage = articleData.GetImage(0);
        if (articleImage != null)
        {
            imgRelPath = articleImage.RelPath;
        }
    }

    <div class="w3-col l4 s8">
        <div class="w3-container">
            <img src="@ThumbnailImageWebsiteDomainUrl(portalData.EngineUrlWithProtocol, imgRelPath, 400, 500)" style="width:100%">
            <p>@articleData.Name<br><b>@articleData.Info.GetXmlPropertyDecimal("genxml/textbox/price")</b></p>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
    });
</script>
