@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketPortal.Components;
@using RocketCatalog.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketCatalog/App_LocalResources/")

@{

    var sessionParams = (SessionParams)Model.SessionParamsData;

    var articleDataList = (ArticleLimpetList)Model.GetDataObject("articlelist");
    var portalCatalog = (PortalCatalogLimpet)Model.GetDataObject("portalcatalog");
    var remoteModule = (RemoteModule)Model.GetDataObject("remotemodule");
    var portalData = new PortalLimpet(portalCatalog.PortalId);
    var categoryList = new CategoryLimpetList(portalCatalog.PortalId, DNNrocketUtils.GetCurrentCulture());
    var appTheme = (AppThemeLimpet)Model.GetDataObject("apptheme");

    var categoryData = new CategoryLimpet(portalCatalog.PortalId, articleDataList.CategoryId, sessionParams.CultureCode);

    @AddProcessData("resourcepath", "/DesktopModules/RocketThemes/" + portalCatalog.AppTheme.AppThemeFolder + "/" + portalCatalog.AppTheme.AppVersionFolder + "/resx/")
}

<div class="w3-xlarge w3-border-bottom w3-border-right w3-padding" style="height:51px;">
    @portalData.Name
</div>

@{
    var catcolor = "";
}
@foreach (CategoryLimpet c in categoryList.GetCategoryList())
{
    if (categoryData.CategoryId == c.CategoryId)
    {
        catcolor = " w3-theme-dark ";
    }
    else
    {
        catcolor = "";
    }
    <a href="@(c.CategoryUrl(sessionParams))" class="w3-bar-item @(catcolor) w3-button w3-text-black w3-padding-large w3-hover-theme" style="text-decoration: none;">@c.Name</a>
}



@foreach (ArticleLimpet articleData in articleDataList.GetArticleList())
{
    <h1>@articleData.Name</h1>
}

@RenderTemplate("ProductPaging.cshtml", appTheme, Model, true)


<script>
    $(document).ready(function () {
    });
</script>
